@media {
    
    .lead {
        width:100%;
    }
    
    .topper {
        background-image:url(justinjefferson2.jpeg);
        background-size: cover;
        background-position:center;
        border: 5px solid #F6C852;
    }
    
    p {
        padding: 0px 175px 0px 175px;
        font-size: 20px;
    }
    
    h1 {
        color:#FFC62F; 
        font-family: 'Chakra Petch';
        text-shadow: 3px 3px #4A287E;
        padding: 0px 0px 300px 0px;
        font-size: 75px;
    }
    
    h2 {
        color:#FFC62F;
        font-family: 'Chakra Petch';
        text-shadow: 3px 3px #4A287E;
        padding: 0px 0px 100px 0px;
        font-size: 50px;
    }
    
    h3 {
        color: #452A79;
        font-weight: bold;
    }
    
    h4 {
        font-family: 'Charm';
        font-size: 150px;
        color: #4A287E;
    }
    
    .storyelement {
        padding: 0px 100px 0px 100px;
        width: 100%;
    }
    
   
}

@media (min-width:576px){
    
}

@media (min-width:992px){
    
}

@media (min-width:1200px){
    
}