@media {
    
    .lead {
        width:100%;
    }
    
    .topper {
        background-image:url(justinjefferson2.jpeg);
        background-size: cover;
        background-position:center;
        border: 5px solid #F6C852;
    }
    
    .content {
        padding: 0px 225px 0px 225px;
        font-size: 20px;
        font-family: 'verdana';
    }
    
    h1 {
        color:#FFC62F; 
        font-family: 'Chakra Petch';
        text-shadow: 3px 3px #4A287E;
        padding: 0px 0px 300px 0px;
        font-size: 75px;
    }
    
    h2 {
        color:#FFC62F;
        font-family: 'Chakra Petch';
        text-shadow: 3px 3px #4A287E;
        padding: 0px 0px 100px 0px;
        font-size: 50px;
    }
    
    .quote {
        color:#FFC62F; 
        font-family: 'Chakra Petch';
        text-shadow: 5px 5px #4A287E;
        font-weight: bold;
        font-size: 70px;
        margin: 10px 0px 10px 0px;
    }
    
    .quotemark {
        font-size: 300px;
        float: left;
        line-height: 100px;
        padding: 75px 0px 0px 0px;
        font-family: 'Charm';
        color: #4A287E;
    }
    
    .attribution {
        font-family: 'Chakra Petch';
        font-size: 50px;
        color: #4A287E;
        font-weight: bold
        
    }
    
    .storyelement {
        width: 100%;
    }
    
    .caption {
        font-size: 13px;
        color: #36454F;
        padding: 5px 0px 20px 0px
    }
    
    .twitter-tweet {
        margin:auto;
    }
    
    }
    
    #footer {
          font-size: 13px;
          padding: 0px 0px 0px 0px;
    }
}

@media (min-width:576px){
    
}

@media (min-width:992px){
    
}

@media (min-width:1200px){
    
}